@page "/food"

<div class="containter">
    <button type="button" class="btn btn-primary" onclick="@(() => OnAddNewClicked())">Add new Food</button>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount(Kg)</th>
                <th>Original Price</th>
                <th>Price(VND)</th>
                <th>Imported From</th>
                <th>Imported Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in Foods)
            {
                <tr>
                    <td>@food.FoodName</td>

                    <td>@food.Amount</td>

                    <td>@food.OriginalPrice</td>

                    <td>@food.PricePerKg.ToString("N0")</td>

                    <td>@food.ImportedFrom</td>

                    <td>@food.CreatedDate</td>
                    <td>
                        <button type="button" class="btn btn-primary" style="background-color: blue">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
